{
    "openapi": "3.0.1",
    "info": {
        "title": "AudiMeta API",
        "version": "2.0.1",
        "description": "AudiMeta API is a free, easy-to-use REST API that gives you access to audiobook metadata from Audible. It lets you search for books and authors, look up series, and get detailed information like descriptions and chapters—all pulled directly from Audible.\n\n### Key Features\n\n- **Books**  \n  - Get detailed info for any audiobook, or look up several titles at once.\n- **Authors**  \n  - Find author profiles, see all their books, and browse their bibliography.\n- **Series**  \n  - Explore audiobook series and view every title in a series.\n- **Chapters**  \n  - Access chapter data for each audiobook that has chapters.\n- **Search**  \n  - Fast, reliable search for books or authors, using Audible’s own catalog.",  
        "termsOfService": "https://github.com/sunbrolynk/AudiMeta/blob/master/PRIVACYPOLICY.md",
        "contact": {
            "name": "Vito0912",
            "url": "https://github.com/sunbrolynk"
        },
        "x-logo": {
            "url": ""
        }
    },
    "servers": [
        {
            "url": "https://manager.lostcartographer.xyz",
            "description": "Public Instance"
        }
    ],
    "paths": {
        "/book/{asin}": {
            "get": {
                "tags": [
                    "Book"
                ],
                "parameters": [
                    {
                        "example": "B0F192YJGQ",
                        "name": "asin",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "example": "true",
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "example": "de",
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Book"
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "getBook",
                "summary": "Get Book",
                "description": ""
            }
        },
        "/book": {
            "get": {
                "tags": [
                    "Book"
                ],
                "parameters": [
                    {
                        "name": "asins",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "description": "",
                                    "example": "",
                                    "externalDocs": {
                                        "url": "",
                                        "description": ""
                                    },
                                    "items": {
                                        "$ref": "#/components/schemas/Book"
                                    }
                                },
                                "example": ""
                            }
                        },
                        "description": "",
                        "headers": {},
                        "links": {}
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "getBooks",
                "summary": "Get Books",
                "description": ""
            }
        },
        "/search": {
            "get": {
                "tags": [
                    "Book",
                    "Search"
                ],
                "parameters": [
                    {
                        "name": "keywords",
                        "description": "",
                        "schema": {
                            "nullable": true,
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "author",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "narrator",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "publisher",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "title",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "query",
                        "description": "Same as title",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "description": "",
                        "schema": {
                            "default": 10,
                            "maximum": 50,
                            "minimum": 1,
                            "type": "number"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "",
                        "schema": {
                            "default": 0,
                            "maximum": 9,
                            "minimum": 0,
                            "type": "number"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "products_sort_by",
                        "description": "",
                        "schema": {
                            "default": "Relevance",
                            "enum": [
                                "Relevance",
                                "-ReleaseDate",
                                "ContentLevel",
                                "-Title",
                                "AmazonEnglish",
                                "AvgRating",
                                "BestSellers",
                                "-RuntimeLength",
                                "ReleaseDate",
                                "ProductSiteLaunchDate",
                                "-ContentLevel",
                                "Title",
                                "RuntimeLength"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "nullable": true,
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Book"
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "search",
                "summary": "Search books",
                "description": ""
            }
        },
        "/chapters/{asin}": {
            "get": {
                "tags": [
                    "Book",
                    "Chapter"
                ],
                "parameters": [
                    {
                        "name": "asin",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Track"
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "getChapters",
                "summary": "Get Chapters",
                "description": ""
            }
        },
        "/author": {
            "get": {
                "tags": [
                    "Author",
                    "Search"
                ],
                "parameters": [
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "name",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Author"
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "searchAuthor",
                "summary": "Search Authors",
                "description": ""
            }
        },
        "/series": {
            "get": {
                "tags": [
                    "Search",
                    "Series"
                ],
                "parameters": [
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "name",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Series"
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "searchSeries",
                "summary": "Search Series",
                "description": ""
            }
        },
        "/author/{asin}": {
            "get": {
                "tags": [
                    "Author"
                ],
                "parameters": [
                    {
                        "name": "asin",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Author"
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "getAuthor",
                "summary": "Get author",
                "description": ""
            }
        },
        "/series/{asin}": {
            "get": {
                "tags": [
                    "Series"
                ],
                "parameters": [
                    {
                        "name": "asin",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Series"
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "getSeries",
                "summary": "Get Series",
                "description": ""
            }
        },
        "/author/{asin}/books": {
            "get": {
                "tags": [
                    "Author",
                    "Book"
                ],
                "parameters": [
                    {
                        "name": "asin",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Book"
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "getBooksByAuthor",
                "summary": "Get books of an author",
                "description": ""
            }
        },
        "/series/{asin}/books": {
            "get": {
                "tags": [
                    "Book",
                    "Series"
                ],
                "parameters": [
                    {
                        "name": "asin",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "region",
                        "description": "",
                        "schema": {
                            "default": "us",
                            "enum": [
                                "us",
                                "ca",
                                "uk",
                                "au",
                                "fr",
                                "de",
                                "jp",
                                "it",
                                "in",
                                "es",
                                "br"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "cache",
                        "description": "",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Book"
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "",
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "deprecated": false,
                "operationId": "getBooksBySeries",
                "summary": "Get Books of a Series",
                "description": ""
            }
        }
    },
    "components": {
        "schemas": {
            "asin": {
                "description": "An ASIN for Books, Series or Genres",
                "pattern": "[A-Z0-9]{10}|[0-9]{10,12}",
                "type": "string"
            },
            "region": {
                "description": "The region of the requested item. This region is not always the only option; it simply represents the first region for books. For authors and series, there is only one ASIN per region. ",
                "default": "us",
                "enum": [
                    "us",
                    "ca",
                    "uk",
                    "au",
                    "fr",
                    "de",
                    "jp",
                    "it",
                    "in",
                    "es",
                    "br"
                ],
                "type": "string"
            },
            "Book": {
                "required": [
                    "asin",
                    "title",
                    "subtitle",
                    "description",
                    "summary",
                    "region",
                    "regions",
                    "publisher",
                    "copyright",
                    "isbn",
                    "language",
                    "rating",
                    "bookFormat",
                    "releaseDate",
                    "explicit",
                    "hasPdf",
                    "imageUrl",
                    "lengthMinutes",
                    "updatedAt",
                    "whisperSync",
                    "link",
                    "series",
                    "narrators",
                    "authors",
                    "genres"
                ],
                "type": "object",
                "properties": {
                    "asin": {
                        "$ref": "#/components/schemas/asin"
                    },
                    "title": {
                        "description": "The title of the book",
                        "type": "string"
                    },
                    "subtitle": {
                        "nullable": true,
                        "description": "The subtitle of the book",
                        "type": "string"
                    },
                    "description": {
                        "nullable": true,
                        "description": "A detailed description of the book that is being requested",
                        "type": "string"
                    },
                    "summary": {
                        "nullable": true,
                        "description": "A short description of the book that is being requested",
                        "type": "string"
                    },
                    "region": {
                        "default": "us",
                        "enum": [
                            "us",
                            "ca",
                            "uk",
                            "au",
                            "fr",
                            "de",
                            "jp",
                            "it",
                            "in",
                            "es",
                            "br"
                        ],
                        "type": "string"
                    },
                    "regions": {
                        "deprecated": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/region"
                        }
                    },
                    "publisher": {
                        "nullable": true,
                        "type": "string"
                    },
                    "copyright": {
                        "nullable": true,
                        "type": "string"
                    },
                    "isbn": {
                        "nullable": true,
                        "type": "string"
                    },
                    "language": {
                        "nullable": true,
                        "type": "string"
                    },
                    "rating": {
                        "type": "number"
                    },
                    "bookFormat": {
                        "nullable": true,
                        "type": "string"
                    },
                    "releaseDate": {
                        "type": "string"
                    },
                    "explicit": {
                        "type": "boolean"
                    },
                    "hasPdf": {
                        "type": "boolean"
                    },
                    "imageUrl": {
                        "nullable": true,
                        "description": "The url of the book",
                        "type": "string"
                    },
                    "lengthMinutes": {
                        "nullable": true,
                        "type": "number"
                    },
                    "updatedAt": {
                        "nullable": true,
                        "type": "string"
                    },
                    "whisperSync": {
                        "type": "boolean"
                    },
                    "link": {
                        "description": "Product link",
                        "type": "string"
                    },
                    "authors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Author"
                        }
                    },
                    "narrators": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Narrator"
                        }
                    },
                    "series": {
                        "type": "array",
                        "items": {
                            "required": [
                                "asin",
                                "name"
                            ],
                            "type": "object",
                            "properties": {
                                "asin": {
                                    "$ref": "#/components/schemas/asin"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "position": {
                                    "nullable": true,
                                    "type": "string"
                                },
                                "description": {
                                    "nullable": true,
                                    "type": "string"
                                },
                                "updatedAt": {
                                    "format": "date-time",
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "genres": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Genre"
                        }
                    }
                }
            },
            "Author": {
                "required": [
                    "asin",
                    "image",
                    "regions",
                    "region",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "asin": {
                        "description": "An ASIN for Books, Series or Genres",
                        "pattern": "[A-Z0-9]{10}|[0-9]{10,12}",
                        "type": "string"
                    },
                    "name": {
                        "description": "name",
                        "type": "string"
                    },
                    "region": {
                        "$ref": "#/components/schemas/region"
                    },
                    "regions": {
                        "deprecated": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/region"
                        }
                    },
                    "image": {
                        "nullable": true,
                        "format": "uri",
                        "type": "string"
                    },
                    "updatedAt": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "description": {
                        "nullable": true,
                        "type": "string"
                    }
                }
            },
            "Narrator": {
                "required": [
                    "name"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "format": "date-time",
                        "type": "string"
                    }
                }
            },
            "Series": {
                "required": [
                    "asin",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "asin": {
                        "$ref": "#/components/schemas/asin"
                    },
                    "name": {
                        "type": "string"
                    },
                    "position": {
                        "nullable": true,
                        "type": "string"
                    },
                    "description": {
                        "nullable": true,
                        "type": "string"
                    },
                    "updatedAt": {
                        "format": "date-time",
                        "type": "string"
                    }
                }
            },
            "Track": {
                "required": [
                    "chapters",
                    "isAccurate",
                    "runtimeLengthMs",
                    "runtimeLengthSec",
                    "brandIntroDurationMs",
                    "brandOutroDurationMs"
                ],
                "type": "object",
                "properties": {
                    "chapters": {
                        "type": "array",
                        "items": {
                            "required": [
                                "title",
                                "lengthMs",
                                "startOffsetMs",
                                "startOffsetSec"
                            ],
                            "type": "object",
                            "properties": {
                                "title": {
                                    "description": "The title of the chapter",
                                    "type": "string"
                                },
                                "lengthMs": {
                                    "description": "The length of the chapter in milliseconds",
                                    "type": "number"
                                },
                                "startOffsetMs": {
                                    "description": "The start offset of the chapter in milliseconds",
                                    "type": "number"
                                },
                                "startOffsetSec": {
                                    "description": "The start offset of the chapter in seconds",
                                    "type": "number"
                                }
                            }
                        }
                    },
                    "isAccurate": {
                        "description": "Whether the chapter information is accurate",
                        "type": "boolean"
                    },
                    "runtimeLengthMs": {
                        "description": "The runtime length of the book in milliseconds",
                        "type": "number"
                    },
                    "runtimeLengthSec": {
                        "description": "The runtime length of the book in seconds",
                        "type": "number"
                    },
                    "brandOutroDurationMs": {
                        "type": "number"
                    },
                    "brandIntroDurationMs": {
                        "type": "number"
                    }
                }
            },
            "Genre": {
                "required": [
                    "asin",
                    "betterType",
                    "type",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "asin": {
                        "$ref": "#/components/schemas/asin"
                    },
                    "name": {
                        "description": "name",
                        "type": "string"
                    },
                    "type": {
                        "deprecated": true,
                        "enum": [
                            "Tags",
                            "Genres"
                        ],
                        "type": "string"
                    },
                    "betterType": {
                        "enum": [
                            "tag",
                            "genre"
                        ],
                        "type": "string"
                    },
                    "updatedAt": {
                        "format": "date-time",
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {},
        "headers": {},
        "responses": {},
        "parameters": {}
    },
    "tags": [
        {
            "name": "Book"
        },
        {
            "name": "Search"
        },
        {
            "name": "Chapter"
        },
        {
            "name": "Author"
        },
        {
            "name": "Series"
        }
    ],
    "externalDocs": {
        "description": "You can view the source code here.\n\nThe license is granted to all open source projects. This software is provided \"as is\", without any warranty of any kind, either express or implied. No liability is accepted for any damages or losses resulting from the use of this software.",
        "url": "https://github.com/sunbrolynk/AudiMeta"
    },
    "security": []
}